<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "HIJACKERS") %></title>
    <meta name="google-site-verification" content="OPghI5tQ4AyccyGB_x9kH1it1xUwmIBq2PQVckShDlU" />
    <meta name="google-site-verification" content="oe6n5-QhjpYxq4wpvxvfx7YokyxYWn1dgUq5ZLaCMKI" />
    
    <%= stylesheet_link_tag 'thesis', :media => 'all' %>
    
    <%= yield(:head) %>
  </head>
  <body>
	
		<div id="main">
			<div id="menu">
				<div id="title"><%=link_to 'HIJACKERS', thesis_path %></div>
				<div class="item"><%=link_to '/ ABOUT', thesis_about_path %></div>
				<div class="item"><%=link_to '/ METHODOLOGY', thesis_methodology_path %></div>
				<div class="item"><%=link_to '/ PROXIMITIES', thesis_proximities_path %></div>
				<div class="item"><%=link_to '/ EXHIBITION', thesis_exhibition_path %></div>
				<div class="item" id="missions">
					<div id="mission_title">

						<span>/ MISSION</span>
						<span class="name"><%=link_to '#1', thesis_monster_path %></span>
						<span class="name"><%=link_to '#2', thesis_magnet_path %></span>
						<span class="name"><%=link_to '#3', thesis_search_path %></span>
					</div>

				</div>
			</div>
			
			<div id="content">
				
    		<%= yield %>

			</div>
		</div>

		<%= javascript_include_tag 'jquery', 'thesis' %>
		<%= yield(:foot) %>
		
    <%= render 'layouts/google_analytics' %>
  </body>
</html>
